/* Webkit */
::selection {
    background: #6f2524;
}
/* Gecko/Mozilla */
::-moz-selection {
    background: #6f2524;
}
body {
	 background-color:#fff; 		 color: #000; 	 font-size: 18px; 			background-image: none;
	}

span.highlight {
	background-color: #6f2524;
}



header{
	background:none;
	background-color: rgb(111,37,36);
	background-color: rgba(111,37,36,1);
}




	.container.top_move .container_inner,
	.full_width,
	.filter_outer h5,
	.filter_holder ul,
	.title_with_line,
	.title_with_line_holder a,
	.tabs.transparent .tabs-nav li.active a{
		background-color:#fff;
	}


	.container.top_move{
		margin-top: -250px;
	}
	
	.title .container{
		bottom: 300px;
	}

#magic,
.button,
input[type='submit'],
.load_more a,
.social_menu li a:hover,
.social_share_holder ul li a:hover .social_image .social_image_inner,
.pagination ul li span,
.pagination ul li a:hover,
.accordion_holder.accordion h5:hover,
.circle_item .circle:hover,
.highlight,
.list.number_small ul > li:before,
.price_table_inner ul li.price_button,
.progress_bars .progress_content,
#back_to_top:hover,
.pie_graf_legend ul li .color_holder,
.line_graf_legend ul li .color_holder,
.widget.widget_search form input[type="submit"],
.widget .tagcloud a,
aside  #lang_sel_click ul ul a:hover, 
aside #lang_sel ul ul a:hover,
.progress_bars_vertical .progress_content_outer .progress_content,
.footer_top #lang_sel_click ul ul a:hover,
.footer_top #lang_sel ul ul a:hover,
.fade_in_circle
{
	background-color: #6f2524;
}

a:hover, p a:hover,
.header_right_widget #lang_sel ul > li:hover > a,
.header_right_widget #lang_sel ul li ul li:hover a,
.header_right_widget #lang_sel_click ul li ul li:hover a,
.header_right_widget #lang_sel_click ul > li:hover > a.lang_sel_sel,
.header_right_widget #lang_sel_list a:hover, 
.header_right_widget #lang_sel_list a.lang_sel_other:hover,
.drop_down .second .inner2 ul li:hover a,
.drop_down .second .inner2 ul li.sub ul li:hover a,
.drop_down .second .inner2 ul.right li:hover a,
.drop_down .second .inner2 ul.right li.sub ul li:hover a,
.drop_down2 .second .mc a,
.title_with_line_holder a:hover,
.filter_holder ul li:hover span,
.filter_holder ul li.active span,
.projects_type2 article:hover .text_holder_inner h4 a,
.projects_type2 .text_holder_inner .portfolio_category:hover,
.projects_type1 article:hover .text_holder_inner h4 a,
.projects_type1 .text_holder_inner .portfolio_category:hover,
.blog_single_holder article .blog_single_text_holder .info span a:hover,
.blog_single_holder article .blog_title_holder span a:hover,
.dropcap,
.circle_item .circle,
.circle_item .circle a,
.tabs .tabs-nav li a:hover,
blockquote p,
.list.number ul > li:before,
.list.circle ul > li:before,
.price_table_inner.active .price_in_table .price,
.price_table_inner:hover .price_in_table .price,
.progress_bars .progress_number,
aside .widget ul li a:hover,
#wp-calendar td a,
aside #lang_sel_list ul li a:hover,
aside #lang_sel_list a.lang_sel_sel:hover,
aside #lang_sel_list a.lang_sel_sel,
.footer_top #lang_sel_list a:hover,
.footer_top #lang_sel_list a.lang_sel_sel:hover,
.footer_top #lang_sel_list a.lang_sel_sel:hover,
#lang_sel_footer ul li a:hover,
#lang_sel_footer ul li a.lang_sel_sel:hover,
.footer_bottom a
{
	color: #6f2524;
}

.menuHoverOn nav.main_menu > ul > li:hover > a span,
.box_holder_border:hover,
.projects_type2 article:hover,
.blog_holder_list article.mix:hover,
blockquote,
.latest_post:hover
{
	border-color: #6f2524;
}





h1{
		color: #171f25; 		font-size: 44px; 			}
.title h1{
	color: #fff; 		font-size: 40px; 						text-align: left;
	}
h2,
h2 a
{
	color: #171f25; 		font-size: 40px; 			}
h3, h3 a{
	color: #171f25; 		font-size: 32px; 			}
h4, h4 a{
	color: #171f25; 		font-size: 26px; 			}

h5{
			font-size: 18px; 			}
p{
	color: #000;		font-size: 18px;	line-height: 27px;			margin-top: 18px;	margin-bottom: 18px;}
.tabs .tabs-nav li a{
	color: #000;		font-size: 18px;		}
aside .widget ul li a,
aside #lang_sel_list ul li a,
aside #lang_sel_list ul a, 
aside #lang_sel_list_list ul a:visited,
aside #lang_sel_list a,
aside #lang_sel_list a:visited

{
	color: #000;		font-size: 18px;	line-height: 27px;		}


aside #lang_sel a.lang_sel_sel,
aside #lang_sel a.lang_sel_sel,
aside #lang_sel ul ul a,
aside #lang_sel ul ul a:visited,
aside #lang_sel a.lang_sel_sel:hover
aside #lang_sel_click a.lang_sel_sel,
aside #lang_sel_click a.lang_sel_sel,
aside #lang_sel_click ul ul a,
aside #lang_sel_click ul ul a:visited,
aside #lang_sel_click a.lang_sel_sel:hover
 {
	color: #000;		}


blockquote p{
	color: #000;	}


a, p a{
	color: #6f2522;	font-style: normal;		text-decoration: none;}
a:hover, p a:hover{
		text-decoration: none;}


nav.main_menu > ul > li > a,
.selectnav ul li a{
	 color: #ffffff; 		 font-size: 15px; 	 line-height: 40px; 	 font-style: normal; 		}

.drop_down2 .second,
.drop_down .second
{
	top: 40px;
}

.header_right_widget{
	line-height: 40px;
}


.header_right_widget #lang_sel_click ul > li > a.lang_sel_sel,
.header_right_widget #lang_sel ul > li > a.lang_sel_sel,
.header_right_widget #lang_sel_list a,
.header_right_widget #lang_sel_list a:visited 
{
	 color: #ffffff; 		 font-size: 15px; 	 font-style: normal; 		}

nav.main_menu ul li:hover > a,
nav.main_menu ul li.active > a,
nav.main_menu > ul > li.has_sub:hover > a,
.header_right_widget #lang_sel_click ul > li:hover > a.lang_sel_sel,
.header_right_widget #lang_sel ul > li:hover > a.lang_sel_sel,
.header_right_widget #lang_sel_list a:hover,
.header_right_widget #lang_sel_list a.lang_sel_other:hover
{
	color: #c90a02 !important;;
}
.second a.have_sub,
.second a.no_sub,
.drop_down2 .second > ul > li > a,
.drop_down .second .inner2 > ul > li > a
{
			 font-size: 14px !important; 			}
.header_right_widget #lang_sel_click ul li ul li a,
.header_right_widget #lang_sel_click ul li ul li a:visited,
.header_right_widget #lang_sel ul li ul li ul li a,
.header_right_widget #lang_sel ul ul a:visited
{
			 font-size: 14px; 			}

.drop_down .second .inner2,
.drop_down .second .inner ul li ul,
.header_right_widget #lang_sel ul ul,
.header_right_widget #lang_sel_click ul ul,
.drop_down2 .second .inner{
	background-color: rgb(23,31,37);
	background-color: rgba(23,31,37,0.7);
}



 
	.footer_top {
		background-color: #171f25;
	}
	.footer_top h6 {
		color: #090f13;
	}

	.touch .parallax section{
		height: auto !important;
		min-height: 300px;  
		background-position: center top !important;  
		background-size: cover !important;
		background-attachment: scroll;
	}
		
	.touch	.parallax section.no_background{
		padding: 0px;
	}
