
@media only screen and (max-width: 768px) {
	header {
		position: fixed !important;
	}
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
	.parallax section{
		min-height: 200px;
	}

	.header_right_widget #lang_sel ul ul,
	.header_right_widget #lang_sel_click ul ul {
		background:none;
		background-color: rgb(111,37,36)  !important;
		background-color: rgba(111,37,36,1)  !important;
	}
	header,
	.header_right_widget #lang_sel ul ul,
	.header_right_widget #lang_sel_click ul ul {
		background-color: #6f2524 !important;
		background-image:none;
	}
}


@media only screen and (max-width: 480px) {

header {
	position: fixed !important;
}

.header_right_widget #lang_sel ul ul,
.header_right_widget #lang_sel_click ul ul {
	background:none;
	background-color: rgb(111,37,36)  !important;
	background-color: rgba(111,37,36,1)  !important;
}

header,
.header_right_widget #lang_sel ul ul,
.header_right_widget #lang_sel_click ul ul {
	background-color: #6f2524 !important;
	background-image:none;
}

}