/**
 * Page Template Styles
 *
 * @package Postali Child
 * @author Postali LLC
*/

.footer_top {
    .address-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        &-left, 
        &-right {
            width: 50%;
        }
    }
}