/**
 * Sass variables and functions.
 *
 * @package Postali Child
 * @author Postali LLC
 */

// Breakpoints
$screen-xxxl: 1920px;
$screen-xxl: 1640px;
$screen-xl: 1400px;
$screen-lg: 1200px;
$screen-ipad: 1024px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 667px;
$screen-xxs: 480px;
$screen-xxxs: 360px;

// Breakpoints
$desktop-full: 1920px;
$desktop-lg: 1400px;
$desktop: 1200px;
$tab-land: 1024px;
$tab-port: 820px;
$phone: 600px;

// Containers
$container-max-width: $screen-xxl;
$container-padding:30px;

// Transitions
$transition-speed:.3s;
$transition-fast:.3s ease-in-ease-out;
$transition-slow:.5s ease-in-ease-out;

// Core Colors
$blk: #000000;
$dk-grey: #171717;
$med-grey: #363636;
$lt-grey: #4b4b4b;
$grey: #cccccc;
$nav-grey: #EDEDED;
$yellow: #FFC800;
$white: #FFFFFF;
$md-green: #718F94;
$dk-green: #668489;

// Link Attributes
// $link-color: $lt-red;
// $link-hover-color: $grey;
$link-transition-speed: .15s;
$trans: 0.3s linear;

// Typography
$icomoon: 'Icomoon';
$inter: 'Inter', sans-serif;

// $body-font-family: $overpass;
// $body-text-color: $dk-blue;
$body-line-height: 130%;

// Font Weight
$normal: 400;
$bold: 700; 
$black: 900;
